<div class="block-banner-container">
    <div class="banner-container">
        <div class="banner">
            <div class="banner-txt-container">
                <div><span>Asics JB Elite IV Black/Gunmetal</span><p>Тканина з легкого матеріалу, що витісняє зайву вологу, та дозволяє повітрю проникати всередину, забезпечуючи свіжість та легкість .</p></div>
                <div><span>Asics JB Elite IV Black/Gunmetal</span><p>
                    Устілки добре підтримують стопи, забезпечують вам стійкість та комфорт.
                        Шнурки надійно фіксуються та ховаються.
                </p></div>
                <div><span>Asics JB Elite IV Black/Gunmetal</span><p>Протиковзка цілісна підошва зі щільної гуми надає впевненості та точності рухам. Матеріал довготривалий у використанні. Оптимальне зчеплення з підошвою та гнучкість- ідеальне поєднання.</p></div>
                <div class="banner-txt">
                    <h1><span class="BORCIVKY">BORCIVKY</span><span class="UKRAINE">UKRAINE</span></h1>
                </div>
            </div>
            <div class="banner-img">
                <figure>
                    <span id="btn1" class="0"></span>
                    <span id="btn2" class="1"></span>
                    <span id="btn3" class="2"></span>
                    <img src="{{ image() }}">
                    <figcaption><button>Переглянути</button></figcaption>
                </figure>
            </div>
        </div>
    </div>
</div>