<div class="block-banner-container">
    <div class="banner-container">
        <div class="banner">
            <div class="banner-txt-container">
                <div class="banner-txt">
                    <h1><span class="BORCIVKY">BORCIVKY</span><span class="UKRAINE">UKRAINE</span></h1>
                </div>
            </div>
            <div class="banner-img">
                <figure>
                    <img src="{{ image() }}">
                    <figcaption><button>Переглянути</button></figcaption>
                </figure>
            </div>
        </div>
    </div>
</div>