
{% if newProductsPage %}
    <div class="cards-con-cont">
        <div id="{{ elem['id'] }}" class="card-container">
            <div class="card">
                <span class="newProductsPage">NEW</span>
                <span class="abs">
                    <div class="card-image-container">
                        <div class="card-image">
                            {% if elem['photos']|length == 1 %}
                                {% for el in elem['photos'] %}
                                    <img class='title activated' id="{{ elem['id'] }}" src="{{ el[1] }}" alt="{{ el[1] }}">
                                {% endfor %}
                            {% else %}
                                {% for img in elem['photos'] %}
                                    {% if img[0] <= 7 %}
                                        <img class='title activated_opacity' id="{{ elem['id'] }}" src="{{ img[1] }}" alt="{{ img[1] }}">
                                    {% elif img[0] == 8 %}
                                        <img class='title_two opacity' id="{{ elem['id'] }}" src="{{ img[1] }}" alt="{{ img[1] }}">
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="section-card">
                        <div class="card-name-and-buybtn">
                            <span id="nm-pr-con">
                                <a class="card-name"><abbr id="{{ elem['id'] }}" title="{{ elem['Бренд'] + ' ' + elem['Модель'] + ' ' + elem['Колір']}}">{{ elem['Бренд'] + ' ' + elem['Модель'] + ' ' + elem['Колір']}}</abbr></a>
                                <span class="card-price">{{ elem['Ціна'] }} &#8372;</span>
                            </span>
                            <!-- <button id="buybtn"><img src="static/icons/buybtn.png"></button> -->
                        </div>
                        <div id="{{ elem['id'] }}" class="card-btn_buy_one_click">
                            <button id="{{ elem['id'] }}">
                                <img id="{{ elem['id'] }}" src="/static/icons/buybtn.png">
                            </button>
                        </div>
                    </div>
                </span>
                <span id="productId" class="noactive">{{ elem['id'] }}</span>
                {% for size in elem['Розмір'] %}
                    {% if size != '' %}
                        <span class="size noactive">{{ size }}</span>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% else %}
    <div class="cards-con-cont">
        <div id="{{ elem['id'] }}" class="card-container">
            <div class="card">
                {% if elem['discountPrice'] %}
                    <span class="discount">-{{ elem['Знижка'] }}%</span>
                {% endif %}
                <span class="abs">
                    <div class="card-image-container">
                        <div class="card-image">
                            {% if elem['photos']|length == 1 %}
                                {% for el in elem['photos'] %}
                                    <img class='title activated' id="{{ elem['id'] }}" src="{{ el[1] }}" alt="{{ el[1] }}">
                                {% endfor %}
                            {% else %}
                                {% for img in elem['photos'] %}
                                    {% if img[0] <= 7 %}
                                        <img class='title activated_opacity' id="{{ elem['id'] }}" src="{{ img[1] }}" alt="{{ img[1] }}">
                                    {% elif img[0] == 8 %}
                                        <img class='title_two opacity' id="{{ elem['id'] }}" src="{{ img[1] }}" alt="{{ img[1] }}">
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="section-card">
                        <div class="card-name-and-buybtn">
                            <span id="nm-pr-con">
                                <a class="card-name"><abbr id="{{ elem['id'] }}" title="{{ elem['Бренд'] + ' ' + elem['Модель'] + ' ' + elem['Колір']}}">{{ elem['Бренд'] + ' ' + elem['Модель'] + ' ' + elem['Колір']}}</abbr></a>
                                {% if elem['discountPrice'] %}
                                    <span class="discount-container">
                                        <span class="discountPrice">{{ elem['discountPrice'] }} &#8372;</span>
                                        <span class="card-price-without-discount">{{ elem['Ціна'] }} &#8372;</span>
                                    </span>
                                {% else %}    
                                    <span class="card-price">{{ elem['Ціна'] }} &#8372;</span>
                                {% endif %}
                            </span>
                            <!-- <button id="buybtn"><img src="static/icons/buybtn.png"></button> -->
                        </div>
                        <div id="{{ elem['id'] }}" class="card-btn_buy_one_click">
                            <button id="{{ elem['id'] }}">
                                <img id="{{ elem['id'] }}" src="/static/icons/buybtn.png">
                            </button>
                        </div>
                    </div>
                </span>
                <span id="productId" class="noactive">{{ elem['id'] }}</span>
                {% for size in elem['Розмір'] %}
                    {% if size != '' %}
                        <span class="size noactive">{{ size }}</span>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}