<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="authors" content="Developer: Valerii Diachenko UI/UX: Nazarii Samchuk">
    <meta name="description" content="Інтернет магазин спортивних товарів та одягу для боксу та боротьби. Доставка по всій Україні ">
    <meta name="keywords" content="Придбати борцівки онлайн, купити боксерки в інтернеті, боксерки купити, спортивний одяг в інтернет магазині, спортивні костюми, взуття купити онлайн">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Знижки - BORCIVKY UKRAINE</title>
    {% include 'styles.html' %}
</head>
<body>
    {% include 'header.html' %}

    {% include 'show_order_block.html' %}
    {% include 'bckt.html' %}
    {% include 'scs.html' %}

    <div class="page-container">
        
        <main class="main">

            {% include 'banner.html' %}

            <div class="content-container">

                {% include 'aside_filter.html' %}


                <div class="cont-crd-pnl">
                   
                    {% include 'filter_section.html' %}

                    <div class="product-cards-con">
                        <div class="product-cards-container">
                            {% block productcards %}
                                {% for elem in discount() %}
                                    {% include 'card.html' %}
                                {% endfor %}
                            {% endblock %}
                        </div>
                        <div class="more-cards">
                            <button>Показати ще</button>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        {% include 'footer.html' %}
    </div>
    {% include 'scroll_btn.html' %}
    {% include 'scripts.html' %}


</body>
</html>