<div class="chooses-container">
    <h1>Доставка</h1>
    <div class="chooses">
        <div>
            <input class="choose" placeholder="Виберіть місто" list="choose-city" id="choose-city-input" name="choose-city">
            <ul id="choose-city"></ul>
        </div>
        <div>
            <input class="choose" placeholder="Виберіть відділення" list="choose-vid" id="choose-vid-input" name="choose-vid">
            <ul id="choose-vid"></ul>
        </div>
    </div>
</div>
<div class="oplata">
    <h1>Виберіть тип оплати</h1>
    <div>
        {% for op in oplata %}
            <span>
                <input class="orders-opl-elems" type="radio" name="req" value="{{ op }}">
                <label for="nal">{{ op }}</label>
            </span>
        {% endfor %}
    </div>
</div>