<div class="chooses-container">
    <h1>Доставка</h1>
    <div class="chooses">
        <div>
            <input class="choose" placeholder="Виберіть місто" list="choose-city" id="choose-city-input" name="choose-city">
            <ul id="choose-city"></ul>
        </div>
        <div>
            <input class="choose" placeholder="Виберіть відділення" list="choose-vid" id="choose-vid-input" name="choose-vid">
            <ul id="choose-vid"></ul>
        </div>
    </div>
</div>
<div class="oplata">
    <h1>Виберіть тип оплати</h1>
    <div>
        <span>
            <input type="radio" name="req">
            <label for="nal">Накладним платежем</label>
        </span>
        <span>
            <input type="radio" name="req">
            <label for="card">Онлайн оплата через Нову Пошту</label>
        </span>
        <span>
            <input type="radio" name="req">
            <label for="req">Оплата за реквізитами PrivatBank або Monobank</label>
        </span>
    </div>
</div>