<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Редагування товару - {{ prod['Категорія'] }} {{ prod['Бренд'] }} {{ prod['Модель'] }} {{ prod['Колір'] }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='pr_ad.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='panel.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='scs.css') }}">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@400&display=swap" rel="stylesheet">
</head>
<body>

    <h1>Фотографії</h1>
    <div class="photos-container">
        {% for img in prod['photos'] %}
            <div>
                <div>
                    <img class="{{ prod['id'] }}" src="/{{ img[1] }}" alt="{{ img[1] }}">
                    
                    <span style="white-space: nowrap;color: #fff;margin: 1rem 0;" id="{{ img[1] }}">{{ img[1].split('/')[-1] }}</span>
                </div>
                
                <button id="del" data="{{ img[1] }}" class="{{ prod['id'] }}">Видалити</button>
                <button style="color: #fff;background: red;" id="make-tit" class="{{ prod['id'] }}">Зробити першою</button>
                <button style="color: #fff;background: green;" id="make-sec" class="{{ prod['id'] }}">Зробити другою</button>
            </div>
        {% endfor %}
    </div>


    {% import 'edit_prod.html' as forms %}

    {{ forms.form(categ=categories, brand=brands, title='', ptext="Якщо кількість фотографії менше 4, тоді вона буде додана", ctxt="Замінити на існуючу категорію", btxt="Замінити на існуючий бренд", btn="change-prod", btntxt="Внести зміни", m=prod['Модель'], k = prod['Колір'], p=prod['Ціна2'], s=size, much=prod['Кількість'], area=prod['Опис'], br=prod['Бренд'], ct=prod['Категорія']) }}


    <script>

        document.querySelectorAll('#del').forEach(elem => {
            elem.onclick = e => {
                const btn = e.target;

                console.log(btn.getAttribute('data'), btn.id)
            }
        })

    </script>
     
    
    <script src="/static/adminjs/add_products_section.js"></script>

</body>
</html>