<div class="show-order-block noactive">
    <div class="order-block noactive">
        <div class="order-info">
            <div class="order-info-header">
                <h2>Ваше замовлення</h2>
                <button>&#9587;</button>
            </div>
            <div class="order-templates-container">
                <div class="orders-templ">
                    <div class="order-img">
                        <img src="" alt="">
                    </div>
                    <div class="order-name_price">
                        <p class="order-name"></p>
                        <p class="order-price"></p>
                        <p class="order-discount"></p>
                    </div>
                </div>
                <div class="sizes">
                    <h2>Оберіть розмір:</h2>
                    <div>
                    </div>
                </div>
            </div>
            <div class="order-pre-form-btns">
                <button class="bkt-btn">Додати до кошика</button>
                <button class="go-form-btn">Оформити замовлення</button>
            </div>
        </div>
        <div class="form">
            <div class="order-form">
                <h2>Ваші контактні данні</h2>
                <div class="userName">
                    <label for="name">Ім'я</label>
                    <input name="name" type="text" autofocus autocomplete="off">
                </div>
                <div class="userSecondName">
                    <label for="second_name">Прізвище</label>
                    <input name="second_name" type="text" autocomplete="off">
                </div>
                <div class="userPhone">
                    <label for="phone">Мобільний телефон</label>
                    <input type="text" name="phone" placeholder="+ 38 (000) 000 00 00">
                </div>
                <div class="userEmail">
                    <label for="phone">Електрона пошта</label>
                    <input type="email" name="userEmail" placeholder="example@gmail.com">
                </div>
                {% include "np_z.html" %}
                <div class="info-inputs">
                    <input type="text" name="prodcutId" class="noactive">
                </div>
                <input class="submit" type="submit" value="Підтвердити замовлення">
            </div>
        </div>
    </div>
</div>