<aside id="slide-menu" class="filter-panel-container">
    <div class="panel-container">
        <div class="btn-cross"><label class="category" for="filter-label">Категорії</label><button id="crosser">&#9587;</button></div>
        <form action="/search" method="get">
            {% for category in get_categories() %}
                <span>
                    <input id="{{ category['Категорія'] }}" class="checkbox" name="category" type="radio" value="{{category['Категорія']}}"><label for="{{category['Категорія']}}">{{category['Категорія']}}</label>
                </span>
            {% endfor %}
            <label class="range" for="range">Фільтр ціни</label>
            <span>
                <input id="range" type="text" value="{{ min() }}" name="price-min" autocomplete="off"> - <input autocomplete="off" name="price-max" type="text" value="{{ max() }}">
            </span>
            <span>
                <input type="submit" value="Пошук">
            </span>
        </form>
    </div>
</aside>