
{% if newProductsPage %}
    <div class="cards-con-cont">
        <div id="{{ elem['id'] }}" class="card-container">
            <div class="card">
                <span class="newProductsPage">NEW</span>
                <span class="abs">
                    <div class="card-image-container">
                        <div class="card-image">
                            {% for img in elem['photos'] %}
                                <img id="{{ elem['id'] }}" src="{{ img }}" alt="{{ img }}">
                            {% endfor %}
                        </div>
                    </div>
                    <div class="section-card">
                        <div class="card-name-and-buybtn">
                            <span id="nm-pr-con">
                                <a id="{{ elem['id'] }}" class="card-name">{{ elem['Бренд'] + ' ' + elem['Модель'] + ' ' + elem['Колір']}}</a>
                                <span class="card-price">{{ elem['Ціна'] }} &#8372;</span>
                            </span>
                            <!-- <button id="buybtn"><img src="static/icons/buybtn.png"></button> -->
                        </div>
                        <div id="card_btn_buy_one" class="card-btn_buy_one_click">
                            <button id="{{ elem['id'] }}">
                                <svg id="{{ elem['id'] }}" xmlns="http://www.w3.org/2000/svg" fill="green" class="bi bi-cart2" viewBox="0 0 16 16">
                                    <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"/>
                                </svg>
                            </button>
                        </div>
                    </div>
                </span>
                <span id="productId" class="noactive">{{ elem['id'] }}</span>
                {% for size in elem['Розмір'] %}
                    {% if size != '' %}
                        <span class="size noactive">{{ size }}</span>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% else %}
    <div class="cards-con-cont">
        <div id="{{ elem['id'] }}" class="card-container">
            <div class="card">
                {% if elem['discountPrice'] %}
                    <span class="discount">-{{ elem['Знижка'] }}%</span>
                {% endif %}
                <span class="abs">
                    <div class="card-image-container">
                        <div class="card-image">
                            {% for img in elem['photos'] %}
                                <img id="{{ elem['id'] }}" src="{{ img }}" alt="{{ img }}">
                            {% endfor %}
                        </div>
                    </div>
                    <div class="section-card">
                        <div class="card-name-and-buybtn">
                            <span id="nm-pr-con">
                                <a id="{{ elem['id'] }}" class="card-name">{{ elem['Бренд'] + ' ' + elem['Модель'] + ' ' + elem['Колір']}}</a>
                                {% if elem['discountPrice'] %}
                                    <span class="discount-container">
                                        <span class="discountPrice">{{ elem['discountPrice'] }} &#8372;</span>
                                        <span class="card-price-without-discount">{{ elem['Ціна'] }} &#8372;</span>
                                    </span>
                                {% else %}    
                                    <span class="card-price">{{ elem['Ціна'] }} &#8372;</span>
                                {% endif %}
                            </span>
                            <!-- <button id="buybtn"><img src="static/icons/buybtn.png"></button> -->
                        </div>
                        <div id="card_btn_buy_one" class="card-btn_buy_one_click">
                            <button id="{{ elem['id'] }}">
                                <svg id="{{ elem['id'] }}" xmlns="http://www.w3.org/2000/svg" fill="green" class="bi bi-cart2" viewBox="0 0 16 16">
                                    <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"/>
                                </svg>
                            </button>
                        </div>
                    </div>
                </span>
                <span id="productId" class="noactive">{{ elem['id'] }}</span>
                {% for size in elem['Розмір'] %}
                    {% if size != '' %}
                        <span class="size noactive">{{ size }}</span>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}