<header class="header">
    <nav class="header-nav">
        <div class="header-nav-container">
            <div class="header-nav-logo">
                <h1>
                    <a href="/">
                        <span class="header-nav-logo-B">B</span>
                         <span class="header-nav-logo-U">U</span>
                    </a>
                </h1>
            </div>
            <div class="header-nav-panel">
                <ul>
                    <a href="/">
                        <li>Головна</li>
                    </a>
                    <a href="#Contacts">
                        <li>Контакти</li>
                    </a>
                    <a href="/infoBuyAndDelivery">
                        <li>Оплата та Доставка</li>
                    </a>
                </ul>
            </div>
            <div class="header-nav-backet_btn">
                <div class="price-bckt-conatiner">
                    <div class="price-container_symbol">
                        <div class="container_one"><span id="price-bckt-symbol">&#8372;</span>  <span id="price-bckt">0</span></div>
                        <div class="container_two"><button><img src="static/icons/Vector.png"></button></div>
                    </div>
                </div>
                <span class="ripple"></span>
            </div>
        </div>
    </nav>
</header>