<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Інформація Доставка | Купівля | Повернення</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='info.css') }}">
    {% include 'styles.html' %}

</head>
<body>
    {% include 'bckt.html' %}
    {% include 'header.html' %}
    <div class="page-container">

        <main>
            <div>
                <h2>Доставка службою-перевізником Нова пошта</h2>
                <p>Оплата за тарифами перевізника.</p>
                
                <h2>Самовивіз</h2>
                <p>Самовивіз за попередньою домовленостю по номеру телефона <a href="tel:+380631144525">+38 (063) 114 45 25</a></p>

                <h2>Передоплата</h2>
                <p>Оплата за реквізитами Privat або Monobank</p>

            </div>


            <div>
                <h2>Повернення Товарів</h2>
                <p>Повернення товарів, отриманих на Новій пошті, відбувається тільки через відділення Нової пошти. Для повернення клієнт має звернутися в кол-центр та повідомити номер електронної накладної та замовлення.</p>
            </div>
        </main>

        {% include 'footer.html' %}
    </div>
    {% include 'scroll_btn.html' %}
    {% include 'scripts.html' %}
</body>
</html>